@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 768px) {
	header{
		padding:0px 30px;
		font-size: 10px
	}	
	.headerlogo{

	margin-right: 20%;
			width: 18%;

}
	  .banner {
   margin-top: -100px
  }

}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

@media screen and (max-width: 768px) {

	  .banner {
   margin-top: 250px!important;
  }
	.slideshow-container{
		width: 70%!important
	}
	.window{
		height: 80%!important;
		width: 102%!important
	}
	.dot {
  top: -80px!important
}
	.egg{
	height: 45%!important;
	top: 18%!important;
	left: -12%!important;
	
}
	.kadai{
	height: 15%!important;
	left: 2%!important;
	top: 20%!important;

}
.wicketall{
	width: 15%!important;
	right: 55%!important;
	top: 21%!important;
	height: 10%!important
}

.flower{
	height: 15%!important;
	bottom: 30%!important;
	left: -8%!important;
}
	.textbox {
  height: 70px!important;
margin-top: -340px!important; /* 负值让整体向上移动，调整数值以达到理想效果 */
}
.phone{
	height: 53%!important;
	top: 25%!important;
	right: 50%!important;
}
	.smallwindow{
	right: 65%!important;
	height: 10%!important;
	top: 23%!important;
	
}
.cat{
	right: 57%!important;
	width: 7%!important;
	top: 30%!important;
}
	
}

@media screen and (max-width: 768px){
	.sperate{
	height: 50px!important;
}
	.displaytitle{
	margin: 50px 0px 200px 50px!important;
}
.aboutmebox{
	width: 90%!important;
	height: 200px!important;

}
	
	.AboutMe{
	margin-top: -150px!important;
	margin-bottom: 0px!important;
}
	.aboutmesmallbox img{
	margin-top: -20px!important;
}
	.aboutmebuttonbox button{
	height: 70px!important;
	width: 120px!important;
}
	.aboutmebuttonbox{
	width: 90%!important;
	height: 50px!important;
	

}
	.display{
	height: 380px!important;
	width: 80%!important;

}
	.displaytextbox{
display: none!important;
		

}
button.accordion {
	width: 80%!important;

}
	div.panel {

	width: 80%!important;

}
.panelboxtext p{
	margin-top: 20px;
	font-size: 15px
}
	.comments{
	display: none
}
.top{
display: none
}
	.contact{
	width: 200%;

	
}

}

@media screen and (max-width: 1024px){
	.panelboxtext p{
	margin-top: 20px;
	font-size: 18px
}
	.comments{
	display: none
}
.top{
display: none
}
	.contact{
	width: 200%;

	
}

	button.accordion {
	width: 80%!important;

}
	div.panel {

	width: 80%!important;

}
		.sperate{
	height: 50px!important;
}
	.displaytitle{
	margin: 50px 0px 200px 50px!important;
}
.aboutmebox{
	width: 90%!important;
	height: 200px!important;

}
	
	.AboutMe{
	margin-top: -150px!important;
	margin-bottom: 0px!important;
}
	.aboutmesmallbox img{
	margin-top: -20px!important;
}
	.aboutmebuttonbox button{
	height: 70px!important;
	width: 120px!important;
}
	.aboutmebuttonbox{
	width: 90%!important;
	height: 50px!important;
	

}
	.display{
	height: 380px!important;
	width: 80%!important;

}

		


	.sperate{
	height: 50px!important;
}
	.displaytitle{
	margin: 50px 0px 200px 50px!important;
}
.aboutmebox{
	width: 90%!important;
	height: 280px!important;

}
	
	.AboutMe{
	margin-top: -150px!important;
	margin-bottom: 0px!important;
}
	.aboutmesmallbox img{
	margin-top: -20px!important;
}
	.aboutmebuttonbox button{
	height: 100px!important;
	width: 100px!important;
}
	.aboutmebuttonbox{
	width: 90%!important;
	height: 50px!important;
	

}

	  .banner {
   margin-top: 250px!important;
  }
	.slideshow-container{
		width: 70%!important
	}
	.window{
		height: 100%!important;
		width: 100%!important
	}
	.dot {
  top: 0px!important
}
	.egg{
	height: 45%!important;
	top: 18%!important;
	left: -12%!important;
	
}
	.kadai{
	height: 15%!important;
	left: 2%!important;
	top: 20%!important;

}
.wicketall{
	width: 15%!important;
	right: 40%!important;
	top: 21%!important;
	height: 10%!important
}
	.mySlides img{
		margin-left:5px; 
	}
.flower{
	height: 15%!important;
	bottom: 30%!important;
	left: -8%!important;
}
	.textbox {
  height: 70px!important;
margin-top: -200px!important; /* 负值让整体向上移动，调整数值以达到理想效果 */
}
.phone{
	height: 53%!important;
	top: 25%!important;
	right: 35%!important;
}
	.smallwindow{
	right: 50%!important;
	height: 10%!important;
	top: 23%!important;
	
}
.cat{
	right: 42%!important;
	width: 7%!important;
	top: 30%!important;
}
		header{
		padding:0px 30px;
	}	
	.headerlogo{

	margin-right: 20%;
			width: 18%;

}
	  .banner {
   margin-top: -100px
  }


}